{{!-- 
 <h2>
    {{#each allPost as |post|}}
    {{post.title}}
    {{post.username}}
    <hr>
    {{post.description}}
    <textarea></textarea>
    {{/each}}
</h2> --}}

<main class="dashboard">

  <div class="newPost">
        <div class="newpostHeader">
          <form class="postForm"> 
            <div class="flexInput">
           
                <input class="newTitle" maxlength="30" type="title" placeholder="Title Topic...">
            </div>   

            <div class="flexInput"> 
             
                <input class="newPostDesc" maxlength="130" type="description" placeholder="What's on your mind...">
            </div>

            <div class="flexInput"> 
             <input type="submit" onclick="submitPost()" >
            </div>
        </form>

        </div>
      
    </div>


{{#each (reverse allPost) as |post|}}
  <div class="blogPost">
      <div class="postHeader"> 
        <h1 class="blogPost-title">{{post.title}}<button onclick="delPost()"><img class="trashPost" src="css/trash-bin.png"></button></h1>
        <h3 class="blogPost-timestamp">Posted By {{post.user.username}} on {{format_time post.createdAt}}</h3>
      </div>
     <p class="blogPost-description"> 
       {{post.description}}
      </p>


      <div class="commentBox">

        <label class="postId commentPostID" value=" {{post.id}}"></labe> 

        <form>
            <label class="userName">KiloWattDot</label>
            <input class="commentPost" type="text" placeholder="type comment..">
            <input type="submit" id="commentSubmit" onclick="submitComment()">
             {{post.comments}}
        </form>
    </div>
  </div>
  {{/each}}


    
</main>

<script src="js/post-comment.js"></script>
<script>
   const toggleMenu = document.querySelector('#btn-toggle')
    const naviList = document.querySelector('#naviList')


    toggleMenu.addEventListener('click', () => {
        naviList.classList.toggle('active')
    })
</script>



{{!-- <div class="blogPost">
      <div class="postHeader"> 
        <h1 class="blogPost-title"> {{post.title}}</h1>
        <h3 class="blogPost-timestamp">Posted By {{post.user.username}} on {{format_time post.createdAt}}</h3>
      </div>
      <p class="blogPost-description">{{post.description}}</p>
      

    <div class="commentBox">

        <input class="postId commentPostID" value=" {{post.id}}">

      <form>
        
        <input class="commentPost" type="text" placeholder="type comment..">
        <input type="submit" onclick="makeComment()">
        {{post.comments}}
      </form>
    </div>
  </div> --}}