{{!-- 
 <h2>
    {{#each allPost as |post|}}
    {{post.title}}
    {{post.username}}
    <hr>
    {{post.description}}
    <textarea></textarea>
    {{/each}}
</h2> --}}

<main class="dashboard">
{{#each allPost as |post|}}
  <div class="blogPost">
      <div class="postHeader"> 
        <h1 class="blogPost-title"> {{post.title}}</h1>
        <h3 class="blogPost-timestamp">Posted By {{post.user.username}} on 02/25/2022</h3>
      </div>
      <p class="blogPost-description">{{post.description}}</p>
  </div>

  {{/each}}


    
</main>