{{!-- 
 <h2>
    {{#each allPost as |post|}}
    {{post.title}}
    {{post.username}}
    <hr>
    {{post.description}}
    <textarea></textarea>
    {{/each}}
</h2> --}}

<main >

{{#if loggedIn}}
  <div class="newPost">
        <div class="newpostHeader">
          <form class="postForm"> 
            <div class="flexInput">
           
                <input class="newTitle" maxlength="30" type="title" placeholder="Title Topic...">
            </div>   

            <div class="flexInput"> 
             
                <input class="newPostDesc" maxlength="130" type="description" placeholder="What's on your mind...">
            </div>

            <div class="flexInput"> 
              
             <input type="submit" onclick="submitPost()" >
            </div>
        </form>

        </div>
      
    </div>

    {{else}}

    <h1>RECENT POST</h1>
{{/if}}

{{#each (reverse allPost) as |post|}}
  <div class="blogPost">
      <div class="postHeader"> 
        <h1 class="blogPost-title">{{post.title}}<button onclick="delPost()"><img class="trashPost" src="css/trash-bin.png"></button></h1>
        <h3 class="blogPost-timestamp">Posted By {{post.user.username}} on {{format_time post.createdAt}}</h3>
      </div>
     <p class="blogPost-description"> 
       {{post.description}}
      </p>

     


 
      <div class="commentBox ">

        <input class="postId commentPostID" value=" {{post.id}}"> {{post.id}}</label> 
        
          <div class="flexInput-commnents">
              <label class="userName"></label>
          </div>
          

        <input type="image" src="css/message.png" class="commentBtn" onclick="toggleCommentBtn()">
        
        <button type="button" class="displayComments">Comments</button>

        <div class="recentComments">
            {{post.comments}}
        </div>
    

        <form class="commentForm hidden ">
      
          <div class="flexInput-commnents ">
            <input class="commentDesc" type="commentDesc" placeholder="type comment..">
          </div>

          <div class="flexInput-commnents ">
            <input type="submit" id="commentSubmitBtn" onclick="submitComment()">
          </div>

          
            
        </form>
    </div>
  </div>
  {{/each}}


    
</main>

<script src="js/post-comment.js"></script>

<script>
   const toggleMenu = document.querySelector('#btn-toggle')
    const naviList = document.querySelector('#naviList')


    toggleMenu.addEventListener('click', () => {
        naviList.classList.toggle('active')
    })


    const toggleComment = document.querySelector('#postComment')
</script>



{{!-- <div class="blogPost">
      <div class="postHeader"> 
        <h1 class="blogPost-title"> {{post.title}}</h1>
        <h3 class="blogPost-timestamp">Posted By {{post.user.username}} on {{format_time post.createdAt}}</h3>
      </div>
      <p class="blogPost-description">{{post.description}}</p>
      

    <div class="commentBox">

        <input class="postId commentPostID" value=" {{post.id}}">

      <form>
        
        <input class="commentPost" type="text" placeholder="type comment..">
        <input type="submit" onclick="makeComment()">
        {{post.comments}}
      </form>
    </div>
  </div> --}}